@media screen and (max-width:768px) {
  header {
    height: auto;
  }

  .navbar-nav .nav-item .nav-link.active::before {
    content: "";
    width: 10%;
    right: 0;
    transform: translateX(0);
  }

  .landing_title {
    font-size: 30px;
  }

  .reviews-text {
    font-size: 15px;
  }

  .reviews-per {
    margin-top: 0;
    margin-bottom: 40px;
  }

  .peviews-center {
    padding: 15px;
    transform: translatey(0);
  }
}

@media screen and (max-width:600px) {
  .card-body-left i {
    font-size: 12px;
  }

}